<plugin>
<nom>AnythingSlider</nom>
<icon>prive/icon/anythingslider-32.png</icon>
<version>0.1.0</version>
<etat>dev</etat>
<auteur>[Cedric Morin Yterium->http://www.yterium.com] et [romy.tetue.net->http://romy.tetue.net]
_ <i lang="en">Original by [Chris Coyier->http://css-tricks.com] and [many others->https://github.com/ProLoser/AnythingSlider/wiki/Credits]</i></auteur>
<description>Slider facile et accessible pour SPIP reposant sur le script jQuery [AnythingSlider->http://proloser.github.com/AnythingSlider/].</description>
<lien>http://proloser.github.com/AnythingSlider/</lien>
<prefix>anythingslider</prefix>
<pipeline>
	<nom>affichage_final</nom>
	<inclure>anythingslider_pipelines.php</inclure>
</pipeline>
<pipeline>
	<nom>header_prive</nom>
	<inclure>anythingslider_pipelines.php</inclure>
</pipeline>
<necessite id="SPIP" version="[2.1.8;]" />
<categorie>multimedia</categorie>
</plugin>